h1{
    text-align:center;
    font-weight: bold;
    background-color: brown;
}
.a1{

    text-align: center;

    position: relative;

}

.a2{

    position: relative;

}

.aa1{

    width: 90%;

    height: 400px;

}

.aa2{

    height: 450px;

    width: 700px;

}

.aa3{

    height: 450px;

    width: 700px;

}

.aa4{

    height: 450px;

    width: 700px;

}

.aa5{

    height: 450px;

    width: 700px;

}



.p1{

    font-size: 20px;

    font-weight: bold;

    padding: 20px;

}

.p2{

    font-size: 20px;

    position: relative;

    bottom: 300px;

    left:700px;

}

.price{

    position: relative;

    left: 750px;

    bottom: 400px;
    color: brown;

}

.footerp{

    text-align: center;
    

}

.headerp{

    text-align: center;

}
h3{
    
    color:blue; 
}

